---
const platform = "github";
const username = "kapakrystian";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Learn more about my skills and work life on <a href="www.linkedin.com/in/krystian-kapa-6b4318234">Linkedin</a></p>
  <p>Learn more about me :) on <a href="https://www.instagram.com/ka_krystian/?hl=pl">Instagram</a></p>
</footer>